<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Cards</h2>
  </div>
</header>



<ul class="breadcrumb">
  <div class="container-fluid">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item active">Cards</li>
  </div>
</ul>

<section class="f1-cards">
  <div class="container-fluid">
    <p class="ff-headers text-uppercase mb-3 fw-600">Sizing</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-block">
            <h6 class="card-title text-uppercase">Special title treatment</h6>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-block">
            <h6 class="card-title text-uppercase">Special title treatment</h6>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Image caps</p>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://lorempixel.com/output/sports-q-c-640-480-5.jpg" alt="Card image cap" />
          <div class="card-block">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">
            Last updated 3 mins ago
          </small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">
            Last updated 3 mins ago
          </small>
            </p>
          </div>
          <img class="card-img-bottom img-fluid" src="http://lorempixel.com/output/sports-q-c-640-480-7.jpg" alt="Card image cap" />
        </div>
      </div>
    </div>

    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Text alignment</p>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-block">
          <h6 class="card-title text-uppercase">Special title treatment</h6>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="javascript:;" class="btn btn-primary">
        Go somewhere
      </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-block">
          <h6 class="card-title text-uppercase">Special title treatment</h6>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="javascript:;" class="btn btn-primary">
        Go somewhere
      </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-block text-right">
          <h6 class="card-title text-uppercase">Special title treatment</h6>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="javascript:;" class="btn btn-primary">
        Go somewhere
      </a>
        </div>
      </div>
    </div>

    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Headers and footers</p>
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-block">
            <h6 class="card-title text-uppercase">Special title treatment</h6>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional content.
            </p>
            <a href="javascript:;" class="btn btn-primary">
          Go somewhere
        </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
              <footer>
                Someone famous in
                <cite title="Source Title">
              Source Title
            </cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-block">
            <h6 class="card-title text-uppercase">Special title treatment</h6>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional content.
            </p>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>
    </div>

    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Image overlays</p>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="http://lorempixel.com/output/sports-q-c-640-480-3.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content.
            </p>
            <p class="card-text">
              <small>
            Last updated 3 mins ago
          </small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="http://lorempixel.com/output/sports-q-c-640-480-1.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content.
            </p>
            <p class="card-text">
              <small>
            Last updated 3 mins ago
          </small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="http://lorempixel.com/output/sports-q-c-640-480-2.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content.
            </p>
            <p class="card-text">
              <small>
            Last updated 3 mins ago
          </small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <img class="card-img img-fluid" src="http://lorempixel.com/output/sports-q-c-640-480-6.jpg" alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title">
              Card title
            </h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional content.
            </p>
            <p class="card-text">
              <small>
            Last updated 3 mins ago
          </small>
            </p>
          </div>
        </div>
      </div>
    </div>


    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Groups</p>
    <div class="row">
      <div class="col-sm-12">
        <div class="card-group mb-1">
          <div class="card">
            <img class="card-img-top img-fluid" src="http://lorempixel.com/output/business-q-c-640-480-6.jpg" alt="Card image" />
            <div class="card-block">
              <h5 class="card-title">
                Card title
              </h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">
              Last updated 3 mins ago
            </small>
              </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top img-fluid" src="http://lorempixel.com/output/business-q-c-640-480-5.jpg" alt="Card image" />
            <div class="card-block">
              <h5 class="card-title">
                Card title
              </h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to additional content.
              </p>
              <p class="card-text">
                <small class="text-muted">
              Last updated 3 mins ago
            </small>
              </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top img-fluid" src="http://lorempixel.com/output/business-q-c-640-480-4.jpg" alt="Card image" />
            <div class="card-block">
              <h5 class="card-title">
                Card title
              </h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content
                than the first to show that equal height action.
              </p>
              <p class="card-text">
                <small class="text-muted">
              Last updated 3 mins ago
            </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Background variants</p>
    <div class="row">
      <div class="col-md-3">
        <div class="card card-inverse card-success">
          <div class="card-block">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Someone famous in Source Title
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-inverse card-info">
          <div class="card-block">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Someone famous in Source Title
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-inverse card-danger">
          <div class="card-block">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Someone famous in Source Title
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-inverse card-warning">
          <div class="card-block">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Someone famous in Source Title
            </p>
          </div>
        </div>
      </div>
    </div>


    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Decks</p>
    <div class="row">
      <div class="col-sm-12">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/output/nightlife-q-c-640-480-10.jpg" alt="Card image" />
              <div class="card-block">
                <h5 class="card-title">
                  Card title
                </h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-muted">
                Last updated 3 mins ago
              </small>
                </p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/output/nightlife-q-c-640-480-9.jpg" alt="Card image" />
              <div class="card-block">
                <h5 class="card-title">
                  Card title
                </h5>
                <p class="card-text">
                  This card has supporting text below as a natural lead-in to additional content.
                </p>
                <p class="card-text">
                  <small class="text-muted">
                Last updated 3 mins ago
              </small>
                </p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/output/nightlife-q-c-640-480-8.jpg" alt="Card image" />
              <div class="card-block">
                <h5 class="card-title">
                  Card title
                </h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content
                  than the first to show that equal height action.
                </p>
                <p class="card-text">
                  <small class="text-muted">
                Last updated 3 mins ago
              </small>
                </p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/output/nightlife-q-c-640-480-6.jpg" alt="Card image" />
              <div class="card-block">
                <h5 class="card-title">
                  Card title
                </h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content
                  than the first to show that equal height action.
                </p>
                <p class="card-text">
                  <small class="text-muted">
                Last updated 3 mins ago
              </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="ff-headers text-uppercase mb-3 mt-3 fw-600">Portlets</p>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            Default portlet
          </div>
          <div class="card-block">
            <p class="card-text">
              Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-primary card-inverse">
          <div class="card-header">
            Primary portlet

          </div>
          <div class="card-block" [ngbCollapse]="isCollapsed">
            <p class="card-text">
              Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-success card-inverse">
          <div class="card-header">
            Success portlet
          </div>
          <div class="card-block">
            <p class="card-text">
              Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-info card-inverse">
          <div class="card-header">
            Info portlet
          </div>
          <div class="card-block">
            <p class="card-text">
              Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-danger card-inverse">
          <div class="card-header">
            Danger portlet
          </div>
          <div class="card-block">
            <p class="card-text">
              Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-warning card-inverse">
          <div class="card-header">
            Warning portlet
          </div>
          <div class="card-block">
            <p class="card-text">
              Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>
