<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Fullmaps</h2>
  </div>
</header>

<ul class="breadcrumb">
  <div class="container-fluid">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item active">Fullmaps</li>
  </div>
</ul>

<section class="f1-maps">
  <div class="container-fluid">

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

  </div>
</section>


