<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Checkboxes &amp; radios</h2>
  </div>
</header>
<ul class="breadcrumb">
  <div class="container-fluid">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item"><a href="">Forms</a></li>
    <li class="breadcrumb-item active">Checkboxes &amp; radios</li>
  </div>
</ul>

<section class="forms">
  <div class="container-fluid">
    <div class="row">
<div class="card-block">
      <div class="form-group row">
        <label class="col-sm-4 form-control-label">Checkboxes &amp; radios <br><small class="text-primary">Custom elements</small></label>
        <div class="col-sm-8">
          <div class="i-checks">
            <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
            <label for="checkboxCustom1">Option one</label>
          </div>
          <div class="i-checks">
            <input id="checkboxCustom2" type="checkbox" value="" checked="" class="checkbox-template">
            <label for="checkboxCustom2">Option two checked</label>
          </div>
          <div class="i-checks">
            <input id="checkboxCustom" type="checkbox" value="" disabled="" checked="" class="checkbox-template">
            <label for="checkboxCustom">Option three checked and disabled</label>
          </div>
          <div class="i-checks">
            <input id="checkboxCustom3" type="checkbox" value="" disabled="" class="checkbox-template">
            <label for="checkboxCustom3">Option four disabled</label>
          </div>
          <div class="i-checks">
            <input id="radioCustom1" type="radio" value="option1" name="a" class="radio-template">
            <label for="radioCustom1">Option one</label>
          </div>
          <div class="i-checks">
            <input id="radioCustom2" type="radio" checked="" value="option2" name="a" class="radio-template">
            <label for="radioCustom2">Option two checked</label>
          </div>
          <div class="i-checks">
            <input id="radioCustom3" type="radio" disabled="" checked="" value="option2" class="radio-template">
            <label for="radioCustom3">Option three checked and disabled</label>
          </div>
          <div class="i-checks">
            <input id="radioCustom4" type="radio" disabled="" name="a" class="radio-template">
            <label for="radioCustom4">Option four disabled</label>
          </div>
        </div>
      </div>


</div>

    </div>
  </div>
</section>
