<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Buttons</h2>
  </div>
</header>

<ul class="breadcrumb">
  <div class="container-fluid">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item active">Buttons</li>
  </div>
</ul>
<section class="f1-buttons">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Default buttons</h5>
            <div class="f1-items-block">
              <button class="btn btn-primary">Primary</button>
              <button class="btn btn-success">Success</button>
              <button class="btn btn-info">Info</button>
              <button class="btn btn-warning">Warning</button>
              <button class="btn btn-danger">Danger</button>
            </div>
            <div class="f1-items-block">
              <button class="btn btn-primary" disabled>Disabled</button>
              <button class="btn btn-success" disabled>Disabled</button>
              <button class="btn btn-info" disabled>Disabled</button>
              <button class="btn btn-warning" disabled>Disabled</button>
              <button class="btn btn-danger" disabled>Disabled</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Default buttons (light)</h5>
            <div class="f1-items-block">
              <button class="btn btn-primary f1-light">Primary</button>
              <button class="btn btn-success f1-light">Success</button>
              <button class="btn btn-info f1-light">Info</button>
              <button class="btn btn-warning f1-light">Warning</button>
              <button class="btn btn-danger f1-light">Danger</button>
            </div>
            <div class="f1-items-block">
              <button class="btn btn-primary f1-light" disabled>Disabled</button>
              <button class="btn btn-success f1-light" disabled>Disabled</button>
              <button class="btn btn-info f1-light" disabled>Disabled</button>
              <button class="btn btn-warning f1-light" disabled>Disabled</button>
              <button class="btn btn-danger f1-light" disabled>Disabled</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Outline buttons</h5>
            <div class="f1-items-block">
              <button class="btn btn-primary-outline">Primary</button>
              <button class="btn btn-success-outline">Success</button>
              <button class="btn btn-info-outline">Info</button>
              <button class="btn btn-warning-outline">Warning</button>
              <button class="btn btn-danger-outline">Danger</button>
            </div>
            <div class="f1-items-block">
              <button class="btn btn-primary-outline" disabled>Disabled</button>
              <button class="btn btn-success-outline" disabled>Disabled</button>
              <button class="btn btn-info-outline" disabled>Disabled</button>
              <button class="btn btn-warning-outline" disabled>Disabled</button>
              <button class="btn btn-danger-outline" disabled>Disabled</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Outline buttons (light)</h5>
            <div class="f1-items-block">
              <button class="btn btn-primary-outline f1-light">Primary</button>
              <button class="btn btn-success-outline f1-light">Success</button>
              <button class="btn btn-info-outline f1-light">Info</button>
              <button class="btn btn-warning-outline f1-light">Warning</button>
              <button class="btn btn-danger-outline f1-light">Danger</button>
            </div>
            <div class="f1-items-block">
              <button class="btn btn-primary-outline f1-light" disabled>Disabled</button>
              <button class="btn btn-success-outline f1-light" disabled>Disabled</button>
              <button class="btn btn-info-outline f1-light" disabled>Disabled</button>
              <button class="btn btn-warning-outline f1-light" disabled>Disabled</button>
              <button class="btn btn-danger-outline f1-light" disabled>Disabled</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Default rounded buttons</h5>
            <div class="f1-items-block">
              <button class="btn btn-primary f1-rounded">Primary</button>
              <button class="btn btn-success f1-rounded">Success</button>
              <button class="btn btn-info f1-rounded">Info</button>
              <button class="btn btn-warning f1-rounded">Warning</button>
              <button class="btn btn-danger f1-rounded">Danger</button>
            </div>
            <div class="f1-items-block">
              <button class="btn btn-primary f1-rounded" disabled>Disabled</button>
              <button class="btn btn-success f1-rounded" disabled>Disabled</button>
              <button class="btn btn-info f1-rounded" disabled>Disabled</button>
              <button class="btn btn-warning f1-rounded" disabled>Disabled</button>
              <button class="btn btn-danger f1-rounded" disabled>Disabled</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Default rounded buttons (light)</h5>
            <div class="f1-items-block">
              <button class="btn btn-primary f1-light f1-rounded">Primary</button>
              <button class="btn btn-success f1-light f1-rounded">Success</button>
              <button class="btn btn-info f1-light f1-rounded">Info</button>
              <button class="btn btn-warning f1-light f1-rounded">Warning</button>
              <button class="btn btn-danger f1-light f1-rounded">Danger</button>
            </div>
            <div class="f1-items-block">
              <button class="btn btn-primary f1-light f1-rounded" disabled>Disabled</button>
              <button class="btn btn-success f1-light f1-rounded" disabled>Disabled</button>
              <button class="btn btn-info f1-light f1-rounded" disabled>Disabled</button>
              <button class="btn btn-warning f1-light f1-rounded" disabled>Disabled</button>
              <button class="btn btn-danger f1-light f1-rounded" disabled>Disabled</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 f1-panels-column-section">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Icon Buttons v2</h5>
            <div class="f1-items-block">
              <button class="btn btn-primary f1-icon f1-icon-block">
                    <span class="la la-check f1-icon"></span>
                    <span class="f1-text">Button</span>
                    <span class="badge badge-pill badge-info f1-label f1-sm">8</span>
                  </button>
              <button class="btn btn-success f1-icon f1-icon-block">
                    <span class="la la-check f1-icon"></span>
                    <span class="f1-text">Button</span>
                    <span class="badge badge-pill badge-primary f1-label f1-sm">22</span>
                  </button>
              <button class="btn btn-info f1-icon f1-icon-block">
                    <span class="la la-check f1-icon"></span>
                    <span class="f1-text">Button</span>
                  </button>
              <button class="btn btn-primary-outline f1-light f1-icon-block">
                    <span class="la la-check f1-icon"></span>
                    <span class="f1-text">Button</span>
                    <span class="badge badge-pill badge-pink f1-label f1-sm">3</span>
                  </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Button Secondary</h5>
            <div class="f1-items-block">
              <button class="btn btn-secondary">Secondary</button>
              <button class="btn btn-secondary" disabled>Disabled</button>
              <button class="btn btn-secondary-outline">Secondary</button>
              <button class="btn btn-secondary-outline" disabled>Disabled</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Button dropdown</h5>
            <div class="f1-items-block">
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
            <div class="f1-items-block">
              <div class="btn-group">
                <button type="button" class="btn btn-primary">Action</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-success">Action</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-info">Action</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-warning">Action</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
            <div class="f1-items-block">
              <div class="btn-group">
                <button type="button" class="btn btn-primary-outline">Action</button>
                <button type="button" class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-success-outline">Action</button>
                <button type="button" class="btn btn-success-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-info-outline">Action</button>
                <button type="button" class="btn btn-info-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-warning-outline">Action</button>
                <button type="button" class="btn btn-warning-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-danger-outline">Action</button>
                <button type="button" class="btn btn-danger-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Radio buttons</h5>
            <div class="f1-items-block">
    <div [(ngModel)]="radiomodel" ngbRadioGroup name="radioBasic">
  <label class="btn btn-primary">
    <input type="radio" [value]="1"> Left (pre-checked)
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="middle"> Middle
  </label>
  <label class="btn btn-primary">
    <input type="radio" [value]="false"> Right
  </label>
  
</div>
<hr>
<pre>{{radiomodel}}</pre>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Checkbox buttons</h5>
            <div class="f1-items-block">
              <p>
  Check-box-like button group can be easily done with pure Angular, no custom directives necessary.
  But we include demo here for completeness.
</p>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary" [class.active]="model.left">
    <input type="checkbox" [(ngModel)]="model.left"> Left (pre-checked)
  </label>
  <label class="btn btn-primary" [class.active]="model.middle">
    <input type="checkbox" [(ngModel)]="model.middle"> Middle
  </label>
  <label class="btn btn-primary" [class.active]="model.right">
    <input type="checkbox" [(ngModel)]="model.right"> Right
  </label>
</div>
<hr>
<pre>{{model | json}}</pre>
            </div>
       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
